div.title {
    margin: auto;
    width: 200px;
    height: 60px;
    position:absolute;
    left:480px;
    top:63px;
}
div.team {
    border-width: 1px;
    position:absolute;
    left:360px;
    top:160px;
    width: 100px;
    text-align:center
}
div.emailLink {
  margin: auto;
  width: 200px;
  height: 50px;
  text-align:center;
  position:absolute;
  left:450px;
  top:130px;
  color: #191970;
}
div.wrapper {
    border-width: 1px;
    margin: auto;
    width: 204px;
    overflow: hidden;
    position:absolute;
    left:455px;
    top:200px;
}
div.minutes {
  float: left;
  margin: auto;
  width: 100px;
  height: 100px;
  text-align:center;
}
div.updates {
  float: left;
  margin: auto;
  width: 100px;
  height: 100px;
  text-align:center;
}


div.gitlink {
  margin: auto;
  width: 200px;
  height: 50px;
  text-align:center;
  position:absolute;
  left:450px;
  top:160px;
}
div.otherlinks {
  margin: auto;
  width: 170px;
  text-align:center;
  position:absolute;
  left:470px;
  top:250px;
}
div.lastupdate {
  position:absolute;
  left:480px;
  top:420px;
}
body {
  background-image: url("2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  margin-left:auto;
  margin-right:auto;
  width:960px;
  color:white;
}
.gitlink a:link { color: #70DB93; }
.gitlink a:visited { color: #70DB93; }
.gitlink a:hover { color: #70DB93; }
.gitlink a:active { color: #70DB93; }

.otherlinks a:link { color: #70DB93; }
.otherlinks a:visited { color: #70DB93; }
.otherlinks a:hover { color: #70DB93; }
.otherlinks a:active { color: #70DB93; }

.emailLink a:link { color: #70DB93; }
.emailLink a:visited { color: #70DB93; }
.emailLink a:hover { color: #70DB93; }
.emailLink a:active { color: #70DB93; }

.wrapper a:link { color: #70DB93; }
.wrapper a:visited { color: #70DB93; }
.wrapper a:hover { color: #70DB93; }
.wrapper a:active { color: #70DB93; }
