button {
  background: transparent;
  width: 200px;
  height: 60px;
  left:650px;
  top:103px;
  position:absolute;
  z-index: 1;
  border: none;
  outline: none;
}
div.title {
    margin: auto;
    width: 200px;
    height: 60px;
    position:absolute;
    left:650px;
    top:103px;
    z-index: 0;
}
div.team {
    border-width: 1px;
    position:absolute;
    left:480px;
    top:250px;
    width: 100px;
    text-align:center
}
div.emailLink {
  margin: auto;
  width: 200px;
  height: 50px;
  text-align:center;
  position:absolute;
  left:610px;
  top:180px;
  color: #191970;
}
div.wrapper {
    border-width: 1px;
    margin: auto;
    width: 204px;
    overflow: hidden;
    position:absolute;
    font-size: 11pt;
    left:620px;
    top:220px;
}
div.minutes {
  float: left;
  margin: auto;
  width: 100px;
  height: 100px;
  text-align:center;
  font-size: 11pt;
}
div.updates {
  float: left;
  margin: auto;
  width: 100px;
  height: 100px;
  text-align:center;
  font-size: 11pt;
}


div.otherlinks {
  margin: auto;
  width: 170px;
  text-align:center;
  position:absolute;
  left:630px;
  top:350px;
}
div.lastupdate {
  position:absolute;
  left:660px;
  top:580px;
}
body {
  background-image: url("2.jpg");
  background-size: 1600px 900px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left:auto;
  margin-right:auto;
  color:white;
}
.gitlink a:link { color: #70DB93; }
.gitlink a:visited { color: #70DB93; }
.gitlink a:hover { color: #70DB93; }
.gitlink a:active { color: #70DB93; }

.otherlinks a:link { color: #70DB93; }
.otherlinks a:visited { color: #70DB93; }
.otherlinks a:hover { color: #70DB93; }
.otherlinks a:active { color: #70DB93; }

.emailLink a:link { color: #70DB93; }
.emailLink a:visited { color: #70DB93; }
.emailLink a:hover { color: #70DB93; }
.emailLink a:active { color: #70DB93; }

.wrapper a:link { color: #70DB93; }
.wrapper a:visited { color: #70DB93; }
.wrapper a:hover { color: #70DB93; }
.wrapper a:active { color: #70DB93; }
